@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
    font-family: Space Mono;
    letter-spacing: 1.2px;
    height: 100%;
    background-color: #F0FDEE;
    color: #182281;
}
.indexContent {
    display: flex;
    justify-content: center;
    min-height: 80vh;
}
.content {
    margin: 60px auto 0 auto;
    min-height: 80vh;
    padding-top:20px;
    width: 80vw;
    max-width: 840px;
}
.content img {
    margin: 0 auto;
}
.content a{
border-bottom: 1px solid #182281;
}
.content a:hover {
    background-color: #182281;
    color: #F0FDEE;
}
footer {
    position: relative;
    bottom: 0;
    padding: 8px 0;
    font-size: 12px;
    text-align: center;
    margin: 80px auto 0 auto;
}
.imageBlock {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imageBlock img {
    max-width: 160px;
    width: 20vw;
    margin: 4px;
}
.rotate {
    transform: rotate(270deg);  
    position: fixed;
    left:-200px;
    top:260px;  
}
.rotate a {
    margin-left: 20px;
}

.icons {
    position:fixed;
    right:8px;
    bottom:16px;
}
.icons img{
    width:24px;
    display:block;
    margin-top: 16px;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 60vw;
}
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #182281;
}
nav a:hover {
    border-bottom: 1px solid #182281;
}
nav:nth-child(1){
    width:100vw;
    text-align:left;
    background-color: #F0FDEE;
}
.postSquare {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   border-bottom: 4px solid #182281;
   transition: 0.1s;
}
.postSquare:hover {
    background-color: #182281;
    color: #F0FDEE;
}
h6 {
    text-transform: uppercase;
    font-size:20px;
}
h1 {
    font-size:64px;
}
.hero {
    margin-top: -80px;
    height: 100vh;
    display: flex;
    align-items: center;
}
h2 {
    font-size: 36px;
    border-bottom: 4px dashed #182281;
    margin:0;
    padding-bottom: 4px;
}
.postSquare h6 {
width: 25%;
}
.postSquare h6:nth-child(1){
    width: 40%;
}
.postSquare h6:nth-child(3){
    text-align: right;
}
.index {
    font-size: 36px;
    text-transform: uppercase;
}
nav {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    text-align: center;
    padding: 12px; 
}
.small img{
    max-width: 320px;
}
img {
    max-width: 800px;
    max-height: 600px;
    object-fit:cover;
    width:80vw;
    display:block;
    margin: 0 auto;
    text-align: center;
}
em {
    max-width: 800px;
    width: 80vw;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 14px;
}
code {
    padding: 2px;
    border: dotted 1px #182281;
    background-color: #18238110 ;
}
@media (max-width:720px){
    p {
        font-size: 14px;
    }
    .content {
        padding-left: 0;
    }
    ul {
        width: 85vw;
    }
    footer {
        margin-top: 80px;
        padding-left: 0;
    }
    .hero {
        margin-top: -100px;
    }
    h6 {
        font-size: 16px;
    }
    h1 {
        font-size:42px;
        /* margin-bottom: 20px; */
    }
}