@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
body {
    font-family: Space Mono;
    letter-spacing: 1.2px;
    height: 100%;
    background-color: #F0FDEE;
    color: #182281;
}
.indexContent {
    display: flex;
    justify-content: center;
    min-height: 80vh;
}
.content {
    margin: 60px 10% 0 10%;
    min-height: 80vh;
    padding-top:20px;
}
.content a{
border-bottom: 1px solid #182281;
}
.content a:hover {
    background-color: #182281;
    color: #F0FDEE;
}
footer {
    position: relative;
    bottom: 0;
    padding: 8px 0;
    font-size: 12px;
    text-align: center;
    margin: 80px auto 0 auto;
}
.rotate {
    transform: rotate(270deg);  
    position: fixed;
    left:-150px;
    top:220px;
    
}
.rotate a {
    margin-left: 20px;
}
.icons {
    position:fixed;
    right:8px;
    bottom:16px;
}
.icons img{
    width:24px;
    display:block;
    margin-top: 16px;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 60vw;
}
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #182281;
}
nav a:hover {
    border-bottom: 1px solid #182281;
}
nav:nth-child(1){
    width:100vw;
    text-align:left;
    background-color: #F0FDEE;
}
.postSquare {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   border-bottom: 4px solid #182281;
}
.postSquare:hover {
    background-color: #182281;
    color: #F0FDEE;
}
h6 {
    text-transform: uppercase;
    font-size:20px;
}
h1 {
    font-size:64px;
    margin-bottom: 100px;
}
.postSquare h6 {
width: 25%;
}
.postSquare h6:nth-child(1){
    width: 50%;
}
.postSquare h6:nth-child(3){
    text-align: right;
}
.index {
    font-size: 36px;
    text-transform: uppercase;
}
nav {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    text-align: center;
    padding: 20px; 
}

img {
    max-width: 800px;
    width:80vw;
}
@media (max-width:720px){
    p {
        font-size: 14px;
    }
    .content {
        padding-left: 0;
        /* padding-top: 80px; */
    }
    ul {
        width: 85vw;
    }
    footer {
        margin-top: 80px;
        padding-left: 0;
    }
    h6 {
        font-size: 16px;
    }
    h1 {
        font-size:40px;
        /* margin-bottom: 20px; */
    }
}