@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
    font-family: Space Mono;
    height: 100%;

}


.indexContent {
    display: flex;
    justify-content: center;
    
}

.content {
    padding-left: 20vw;
    margin: 80px 5% 0 5%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 50vw;
}
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    
}
.content a:hover {
    border: dashed 3px darkseagreen;

}

.content a {
    border-bottom: dashed 2px steelblue; 
}
.postSquare {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   
}
.postSquare p {
width: 25%;
}
.postSquare p:nth-child(1){
    width: 50%;
    
}

.postSquare p:nth-child(3){
    text-align: right;
}



.postSquare:hover {
    border-bottom: dashed black 2px;
}


nav {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    text-align: center;
    width: 20vw;
    height: 100vh;
    border-right: 4px solid black;
}

nav div {
    margin: 25% 0;
}
p {
    font-size: 16px;
}

